@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  position: relative;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* overflow: hidden; */
}
html {
  scroll-behavior: smooth;
}
/************************ navbar link *********************/
nav {
  position: sticky;
  top: 0;
  z-index: 100;
  /* left: 0; */
  /* bottom: 0; */
  width: 100%;
}
.nav-link {
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  margin-right: 1.5rem;
  padding: 1rem;
}

/*********************** nav logo*****************************/
nav img {
  width: 3rem;
  height: 3rem;
  border: 0.2rem solid white;
  border-radius: 50%;
  margin: 0.2rem;
  margin-left: 2rem;
}

/***************** nav media ***************/

@media screen and (max-width: 968px) {
  nav img {
    margin-right: 1.5rem;
  }
}

/**************************************************header********************************/

.coltxt {
  padding: 2rem;
  width: 40%;
  margin-top: 5rem;
  letter-spacing: 0.2rem;
}

.headerlink {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.headerlink:hover {
  color: white;
}

.myImg {
  width: 20rem;
  height: 20rem;
  display: flex;
  margin-left: 14rem;
  margin-top: 2rem;
  border-radius: 50%;
  border: rgb(204, 229, 233) 1rem solid;
}
.typedtxt {
  font-size: 3rem;
  display: flex;
  margin-left: 2rem;
}

@media screen and (max-width: 968px) {
  .coltxt {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
    width: 60%;
  }
  .myImg {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 15rem;
    height: 15rem;
  }
  .typedtxt {
    display: flex;
    text-align: center;
    margin: 0 auto;
  }
}

@media screen and (width: 768px) {
  .typedtxt {
    margin-left: 10rem;
  }
}

/**********************HeaderCard*************************************/

.header {
  width: 18rem;
  padding: 2rem;
  margin-top: 2rem;
}

@media screen and (max-width: 968px) {
  .header {
    margin: 0 auto;
  }
}

/****************************about*********************************************/

.aimg {
  width: 12rem;
  height: 12rem;
  border: 0.5rem rgb(164, 237, 250) inset;
  border-radius: 2rem;
  margin: 2rem;
}
.atxt {
  margin-top: 2rem;
}

@media screen and (max-width: 968px) {
  .aimg {
    margin: 0 auto;
  }

  .atxt {
    margin: 0 auto;
    padding-top: 2rem;
  }
}

/*************************************** Skill ************************************/
/* .card-body{
  padding: 1rem;
} */
.skill {
  padding: 1rem;
  font-size: 4rem;
}

.html {
  font-size: 10rem;
  color: rgb(233, 98, 40);
  /* margin: 0 auto; */
  transition: 1s;
}

.html:hover {
  font-size: 11rem;
}

.css {
  font-size: 10rem;
  color: rgb(0, 81, 232);
  transition: 1s;
}

.css:hover {
  font-size: 11rem;
}

.javascript {
  font-size: 10rem;
  color: rgb(239, 216, 29);
  transition: 1s;
}

.javascript:hover {
  font-size: 11rem;
}

.bootstrap {
  font-size: 10rem;
  color: rgb(123, 18, 248);
  transition: 1s;
}

.bootstrap:hover {
  font-size: 11rem;
}
.jquery {
  width: 10rem;
  transition: 1s;
  margin: 1rem;
}
.jquery:hover {
  width: 11rem;
}
.react {
  font-size: 10rem;
  color: rgb(94, 211, 243);
  transition: 1s;
}

.react:hover {
  font-size: 11rem;
}

.node {
  font-size: 10rem;
  color: rgb(111, 166, 97);
  transition: 1s;
}
.node:hover {
  font-size: 11rem;
}
.database {
  font-size: 10rem;
  color: rgb(97, 141, 166);
  transition: 1s;
}
.database:hover {
  font-size: 11rem;
}
.git {
  font-size: 10rem;
  color: rgb(26, 30, 32);
  transition: 1s;
}
.git:hover {
  font-size: 11rem;
}

.skill_keyword {
  padding: 2rem;
}

/* project  */
.project {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}
/* contact  */
.contact {
  margin-bottom: 2rem;
}
.cRow {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 1rem;
  margin: 0 auto;
}
@media screen and (max-width: 786px) {
  .c-name {
    padding: 1rem;
    margin: 0 auto;
  }
}

.c-name {
  padding: 1rem;
  margin: 0 auto;
}
.c-email {
  padding: 1rem;
  margin: 0 auto;
}

#name:hover {
  box-shadow: 12px 12px 12px 0px gray;
  transition: 1s;
}
#email:hover {
  box-shadow: 12px 12px 12px 0px gray;
  transition: 1s;
}
#text:hover {
  box-shadow: 12px 12px 12px 0px gray;
  transition: 1s;
}
.c-submit {
  padding: 1rem 2rem;
  margin: 2rem;
  border-radius: 1rem;
  background-color: black;
  color: rgb(238, 236, 234);
}
.c-reset {
  padding: 1rem 2rem;
  margin: 2rem;
  border-radius: 1rem;
  background-color: black;
  color: rgb(238, 236, 234);
}
.c-submit:hover {
  color: white;
  box-shadow: 12px 12px 12px 0px gray;
  transition: 1s;
}
.c-reset:hover,
.c-reset:active {
  color: white;
  box-shadow: 12px 12px 12px 0px gray;
  transition: 1s;
}

/* social */
.social {
  margin-bottom: 3rem;
  /* display: flex; */
  /* flex-direction: row; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social__icon {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;
  padding-bottom: 1rem;
  font-size: 2.5rem;
  text-decoration: none;
  transition: 1s;
}
.social a:hover {
  color: #e7227e;

  transition: 0.9s;
}
@media screen and (max-width: 500px) {
  .social__icon {
    font-size: 1.5rem;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  overflow: hidden;
  /* margin: 0 auto; */
  margin: auto;
  flex-wrap: wrap-reverse;
  margin-top: 1rem;
  background-color: rgb(55, 59, 63);
  color: white;
}
